{{> header}}
<main class ="error-page"> 
  <h2 class ="not-found">404</h2>
  <h3 class="not-found">Page not found</h3>
  <a href="http://localhost:3000/" id="start-button" class="action-button">To home page</a> 
</main>