{{> header}}
<main id="front-page" class="shown">
  <h1 class="site-title">Welcome to our Text Adventure Game!!!!</h1>
    <a href="http://localhost:3000/play" id="start-button" class="action-button">Start Game!</a> 
</main>