{{> header}}
<main class="content">
      <!main html for game slides goes here>
      <div class = "visuals"> 
        <img id = "img" src="imgs/street.png" width="700" height="450"> 
      </div>
      <div class = "boxes">
        <div id="text" class = "text-box">
          You happen upon a new town. You find yourself wandering, do you go into...
        </div>
        <div id="options" class="btn">
          <div class = "choice-1" id="choice" id="text">
            The Saloon
          </div>
          <div class = "choice-2" id = "choice" id="text">
            The Brothel
          </div>
        </div>
      </div>
</main>