<head>
  <meta charset="utf-8">

  <title>Wacky Wild West</title>

  <link href="https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap" rel="stylesheet">

  <link href="style.css" rel="stylesheet" type="text/css"/>

  <script src="index.js" charset="utf-8"
  defer></script>
</head>